<main>
    <section class="form-section">
        <img src="/assets/svg/logo-1.svg" />
        <h2> {{ title }} </h2>
        <ng-content></ng-content>  <!-- Essa linha serve para injetar tudo que está dentro da tag app-default-login-layout em login.component.html -->
        <div class="btn-wrapper">
            <button class="btn-primary" (click)="submit()" [disabled]="disablePrimaryBtn"> {{ primaryBtnText}} </button>
            <div class="divider">
                <div></div>
                <span>or</span>
                <div></div>
            </div>
            <button class="btn-primary" (click)="navigate()"> {{ secondaryBtnText}} </button>
        </div>
    </section>
    <section class="main-section">
        <h1>You should, MoveIt!</h1>
        <img src="/assets/svg/logo.svg" />
    </section>
</main>